:root {
  --color-main: #254159;
  --color-main-light: #385874;
  --color-main-slight: #b2cfe9;
  --color-grey: #333333;
  --color-grey-light: #efefef;
  --color-white: #fff;
  --color-dark: #252525;
  --color-white-alpha: rgba(255, 255, 255, 0.6);

  --font-title: "Open Sans", sans-serif;
  --font-text: Georgia, "Times New Roman", Times, serif;

  --form__width: 30% !important;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-text);
  background: var(--color-white) url(../images/email-pattern.webp) 0 0 repeat;
  color: var(--color-dark);
  line-height: 1.5;
}

.bg-white {
  background-color: var(--color-white);
  background-image: none;
}

.main-container {
  max-width: 80vw;
  margin: 0 auto;
}

.container {
  padding: 1.25rem;
  width: 100%;
  margin: 0 auto;
}

.container__title {
  margin: 3rem 0 2rem;
}

.container__body {
  margin: 2rem 0;
}

header {
  background-color: var(--color-white-alpha);
  padding: 2rem 3rem 7rem 2.5rem;
  /* border-bottom: 1px solid var(--color-main); */
  /* height: 16vh; */
  display: flex;
  align-items: center;
}

header img {
  width: inherit;
  height: auto;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-title);
  color: var(--color-main);
  padding-top: 2rem;
}

h1 {
  font-size: 3.052rem;
  padding: 0 0 2rem;
  font-weight: 700;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
  color: var(--color-main-light);
}

p {
  max-width: 75ch;
  line-height: 1.8;
  font-size: 1.55rem;
  --flow-space: 1.2rem;
}

dl {
  margin: 2rem 0;
  font-family: var(--font-title);
}

dt {
  font-weight: 700;
  font-size: 1.8rem;
}

dd {
  margin: 0 0 1rem 2rem;
  font-size: 1.6rem;
}

section {
  font-size: 1.5rem;
  display: flex;
  /* flex-wrap: wrap; */
  padding-bottom: 2rem;
}

.flow > * * {
  margin-top: var(--flow-space, 1rem);
}

.post {
  width: 90vw;
  width: clamp(20rem, 80vw, 70rem);
  margin-left: 0;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 10rem;
  color: var(--color-grey);
  background-color: var(--color-white-alpha);
}

section nav {
  width: clamp(20rem, 20vw, 30rem);
  margin-top: 3rem;
  margin-left: auto;
  margin-right: 0;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  /* background-color: aquamarine; */
  position: relative;
}

nav ul {
  list-style-type: none;
  padding-left: 0;
}

nav li {
  background-color: var(--color-grey-light);
  margin: 1px 20px 1px 0;
  padding: 1.5rem;
  transition: 0.5s;
}

nav li:hover {
  background-color: #dfdfdf;
}

nav a {
  text-decoration: none;
  color: var(--color-main);
}

nav a:hover {
  color: var(--color-main-light);
}

nav a.disabled {
  cursor: default;
  pointer-events: none;
  text-decoration: none;
  color: grey;
}

.border-img {
  border-radius: 12px;
}

.menu {
  position: absolute;
  width: 100%;
}

.nav-header {
  display: flex;
}

.nav-main {
  /* background-color: red; */
  width: 100%;
  display: flex;
  justify-content: center;
}

/* .nav-menu {
  
} */

.nav-menu--list {
  display: flex;
  font-size: 1.8rem;
}

.nav-menu--list li {
  background: transparent;
}

section article {
  width: 80%;
  padding: 1.25rem;
}

/* Section Banner */
.banner {
  background: var(--color-grey-light) url(../images/banner.png) 0 0 no-repeat;
  background-size: cover;
  width: 100vw;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 5rem;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-top: -50px;
}

.banner__legenda {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 2rem 6rem;
  margin-top: -50px;
  border-radius: 8px;
  width: fit-content;
  height: fit-content;
  color: var(--color-main);
  display: flex;
  flex-flow: column;
  transition: 0.5s;
}

.banner__title {
  font-size: clamp(3rem, 5vw, 5rem);
}

.banner__subtitle {
  font-size: 2rem;
}

.banner__button--cta, .banner__button--ghost {
  background-color: var(--color-main);
  padding: 2rem 3rem;
  border-radius: 12px;
  margin: 3rem 0;
  color: var(--color-white);
  text-decoration: none;
  font-family: var(--font-title);
  font-size: 2rem;
  font-weight: 300;
  width: fit-content;
  box-shadow: 1px 1px 4px var(--color-main-light);
  transition: 0.5s;
}

.banner__button--cta:hover {
  background-color: var(--color-main-light);
}

.banner__button--ghost {
  background-color: var(--color-white);
  color: var(--color-main);
  border: 3px solid var(--color-main);
  font-weight: 700;
}

.banner__button--ghost:hover {
  background-color: var(--color-main-slight);
}

.banner__button--cta:active, .banner__button--ghost:active {
  box-shadow: 0 0 0 var(--color-main-light);
}

html .cog-cognito--styled .cog-button--primary, :root:root:root:root:root .cog-cognito--styled .cog-button--primary {
  border-radius: 12px !important;
}

html .cog-cognito--styled .cog-button--primary:hover, :root:root:root:root:root .cog-cognito--styled .cog-button--primary:hover {
  border-color: #385874 !important;
  background-color: #385874 !important;
}

@media only screen and (max-width: 1500px) {
  .banner__legenda {
    background-color: rgba(255, 255, 255, 0.8);
  }
}

@media only screen and (max-width: 1050px) {
  .banner {
    padding: 0;
    justify-content: center;
  }

  .banner__legenda {
    padding: 2rem 3rem;
    margin: 0;
    border-radius: 0;
    width: 100%;
  }
}

/* Section Saiba Mais */
.saiba-mais__container {
  background-color: var(--color-white);
  background-image: url(../images/email-pattern.webp);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-top: -50px;
  /* padding-bottom: 50px; */
  padding: 0 4rem 6rem;
}

.saiba-mais__content {
  display: flex;
  align-items: start;
}

.saiba-mais__imagem {
  width: 60%;
  height: auto;
  margin: 0 3rem 2rem 0;
  border-radius: 12px;
  /* overflow: hidden; */
  display: flex;
  align-items: center;
  /* float: left; */
}

.saiba-mais__texto {
  font-size: 2rem;
  margin: 1rem 2rem;
  /* width: 45%; */
  /* float: left; */
}

@media only screen and (max-width: 1440px) {
  .saiba-mais__content {
    flex-flow: column;
  }

  .saiba-mais__imagem {
    width: 100%;
  }
}

/* FAQ */
.faq__container {
  background-color: var(--color-grey-light);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-top: -50px;
  padding: 0 4rem 4rem;
  margin-bottom: 50px;
}

/* COGNITO FORM */
.cognito-section {
  background-color: var(--color-main-slight);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-top: -90px;
  width: 100%;
}

.cognito {
  width: 100%;
  padding: 5rem;
  margin: 0 auto;
}

.cog-form__container {
  background-color: var(--color-main-slight) !important;
}

.cog-abuse {
  visibility: hidden !important;
}

.cog-branding,
.cog-branding--minimal {
  display: none !important;
}

html .cog-cognito--styled .cog-button--primary,
html .cog-cognito--styled .cog-page__navigation .cog-button,
:root:root:root:root:root .cog-cognito--styled .cog-button--primary,
:root:root:root:root:root
  .cog-cognito--styled
  .cog-page__navigation
  .cog-button {
  padding: calc(var(--input__padding-v) * 2.3) calc(var(--input__padding-h) * 2.3) !important;
}

html .cog-form__container,
:root:root:root:root:root .cog-form__container {
  max-width: 50% !important;
  background-color: var(--form__background-color);
  margin-right: auto !important;
  margin-left: auto !important;
  margin-bottom: 5rem;
  padding-bottom: var(--form__margins--responsive);
  padding: 3rem 3rem 0;
  border: 3px solid var(--color-main);
  border-radius: 12px;
}

html .cog-col--12,
:root:root:root:root:root .cog-col--12 {
  flex: 2 1 200px;
  width: calc(100% - calc(var(--gutter) / 2));
}

/* FOOTER */

.footer {
  background-color: var(--color-main);
  font-family: var(--font-title);
  padding: 4rem 5rem;
  color: var(--color-white);
  margin: 0;
  position: relative;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-top: -50px;
}

.footer > p {
  font-size: 1.8rem;
  color: var(--color-white);
}

.footer > small {
  padding: 0.8rem 0 0;
  font-size: 1.4rem;
}

/* CONFIGS */

.bg-main--slight {
  background-color: var(--color-main-slight);
}

/* TEXT-ALIGN */
.text-start {
  text-align: start;
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: end;
}

/* POSITION */
.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.left-0 {
  left: 0;
}

.right-0 {
  right: 0;
}

.top-0 {
  top: 0;
}

.bottom-0 {
  bottom: 0;
}

/* PADDING */
.p-0 {
  padding: 0;
}
.pe-1 {
  padding-right: calc(1rem * 0.25);
}

.pe-2 {
  padding-right: calc(1rem * 0.5);
}

.pe-3 {
  padding-right: calc(1rem);
}

.pe-4 {
  padding-right: calc(1rem * 1.5);
}

.pe-5 {
  padding-right: calc(1rem * 3);
}

.ps-1 {
  padding-left: calc(1rem * 0.25);
}

.ps-2 {
  padding-left: calc(1rem * 0.5);
}

.ps-3 {
  padding-left: calc(1rem);
}

.ps-4 {
  padding-left: calc(1rem * 1.5);
}

.ps-5 {
  padding-left: calc(1rem * 3);
}

.pt-1 {
  padding-top: calc(1rem * 0.25);
}

.pt-2 {
  padding-top: calc(1rem * 0.5);
}

.pt-3 {
  padding-top: calc(1rem);
}

.pt-4 {
  padding-top: calc(1rem * 1.5);
}

.pt-5 {
  padding-top: calc(1rem * 3);
}

.pb-1 {
  padding-bottom: calc(1rem * 0.25);
}

.pb-2 {
  padding-bottom: calc(1rem * 0.5);
}

.pb-3 {
  padding-bottom: calc(1rem);
}

.pb-4 {
  padding-bottom: calc(1rem * 1.5);
}

.pb-5 {
  padding-bottom: calc(1rem * 3);
}

/* MARGIN */
.m-0 {
  margin: 0 !important;
}

.me-1 {
  margin-right: calc(1rem * 0.25);
}

.me-2 {
  margin-right: calc(1rem * 0.5);
}

.me-3 {
  margin-right: calc(1rem);
}

.me-4 {
  margin-right: calc(1rem * 1.5);
}

.me-5 {
  margin-right: calc(1rem * 3);
}

.ms-1 {
  margin-left: calc(1rem * 0.25);
}

.ms-2 {
  margin-left: calc(1rem * 0.5);
}

.ms-3 {
  margin-left: calc(1rem);
}

.ms-4 {
  margin-left: calc(1rem * 1.5);
}

.ms-5 {
  margin-left: calc(1rem * 3);
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: calc(1rem * 0.25);
}

.mt-2 {
  margin-top: calc(1rem * 0.5);
}

.mt-3 {
  margin-top: calc(1rem);
}

.mt-4 {
  margin-top: calc(1rem * 1.5);
}

.mt-5 {
  margin-top: calc(1rem * 3);
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: calc(1rem * 0.25);
}

.mb-2 {
  margin-bottom: calc(1rem * 0.5);
}

.mb-3 {
  margin-bottom: calc(1rem);
}

.mb-4 {
  margin-bottom: calc(1rem * 1.5);
}

.mb-5 {
  margin-bottom: calc(1rem * 3);
}

.mx-auto {
  margin: 0 auto;
}

.d-block {
  display: block;
}

/* Breakpoints */
@media only screen and (max-width: 900px) {
  section {
    flex-wrap: wrap;
  }

  nav li {
    margin: 1px 0;
  }

  section nav {
    margin-right: auto;
    width: 100%;
    text-align: center;
  }

  section article {
    width: 100%;
  }

  .post {
    margin-left: auto;
    width: 100%;
  }

  .menu {
    position: relative;
    width: 100%;
  }
  
}

@media only screen and (max-width: 768px) {

  .nav-header {
    display: flex;
    flex-flow: column;
  }

  .nav-main {
    margin-top: 1.5rem;
  }

  .cognito {
    width: 100%;
    padding: 2.5rem;
  }

  html .cog-form__container,
  :root:root:root:root:root .cog-form__container {
    max-width: 100% !important;
    margin-right: auto !important;
    margin-left: auto !important;
    margin-bottom: 5rem;
    padding-bottom: var(--form__margins--responsive);
    padding: 3rem 1.5rem 0;
    border: 3px solid var(--color-main);
    border-radius: 12px;
  }
}

@media only screen and (max-width: 600px) {
  .main-container {
    max-width: 100vw;
  }
}

@media only screen and (max-width: 425px) {
  .nav-menu {
    width: 100%;
  }

  .nav-menu--list {
    display: flex;
    flex-flow: column;
    width: 100%;
    text-align: center;
  }

  .nav-menu--list li {
    margin-top: .5rem;
    background-color: var(--color-grey-light);
  }
}

@media only screen and (max-width: 320px) {
  .banner {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}


